.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    border: 1px solid blue;
    width: 30%;
    height: 5vh;
    border-radius: 1vw;
}

button {
    border: none;
    background: none;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    grid-auto-rows: minmax(100px, auto);
    /* Automatic row height */
    grid-gap: 10px;
    /* Gap between grid items */
    background-color: antiquewhite;
    padding: 3vw;
    border-radius: 6vw;
    border: 2px solid rgb(9, 102, 41);
    margin-top: 1vw;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img{
   max-width: 100%; 
   height: auto;
}

.zoom-image{
    transition: transform 1s;
}

.zoom-image:hover{
    transform: scale(1.5);
}

